<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<h1>Modify User</h1>
	<form action="#" th:action="@{/admin/edit-user}" th:object="${user}" method="post">
		<h2 th:text="${user.username}" />
		<input th:type="hidden" th:field="*{username}" value="*{username}" />
		<p>Password: <input type="text" th:field="*{password}" /></p>
		<p>Full Name: <input type="text" th:field="*{fullName}" /></p>
		<p><input type="submit" value="Submit" />
	</form>
</body>
</html>