<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<h1 th:if="${images.size() == 0}">You have no images!</h1>
	<h1 th:unless="${images.size() == 0}">Your images</h1>
	<ul>
		<li th:each="image : ${images}">
			<a th:href="@{'/image/' + ${image.key}}">
				<img th:src="${image.url}" width="200">
			</a>
		</li>
	</ul>
	<a th:href="@{'/'}">Back to main menu</a>
</body>
</html>