<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<img th:src="${image.url}">
	<p><a th:href="@{'/image/delete/' + ${image.key}}">Delete image</a></p>
	<p><a th:href="@{'/image/list'}">Image list</a></p>
	<p><a th:href="@{'/'}">Main menu</a></p>
</body>
</html>