<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<h1 th:text="'Number of users: ' + ${users.size()}" />
	<p th:each="user : ${users}">
    	<a th:href="@{'/admin/detail/' + ${user.username}}">
        	<span th:text="${user.username}"></span>
    	</a>
    	<a th:href="@{'/admin/delete/' + ${user.username}}" onclick="return confirm('Are you sure you want to delete this user?');">
    		delete
    	</a>
	</p>
	<p><a th:href="@{/admin/add-user-view/}"><button>Add User</button></a></p>
</body>
</html>