<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
	<h1>Hello World!</h1>
	<a th:if="${isAdmin}" th:href="@{'/admin/'}">Admin</a>
	<a th:href="@{'/image/upload'}">Upload</a>
	<a th:href="@{'/image/list'}">View images</a>
</body>
</html>